# Coverage and other things
*.jl.*.cov
*.jl.cov
*.jl.mem

# Documentation 
/docs/build/
/docs/Manifest.toml

# Pictures, data and tools
/images/*
/data/*
/figures/*
/analyze/*
/data_cleaned
/videos
.vscode
*.toml
